# Ignore the Python virtual environment
.venv/
venv/
env/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore log files (like the sync [date].log you created earlier!)
Logs/
*.log

# Ignore Data files
Listings/
*.txt

# Backups
Backup/

# configs
*.json

# Ignore OS-specific system files
.DS_Store
Thumbs.db

# Ignore sensitive environment variables
.env