# Ignore the Python virtual environment
.venv/
venv/
env/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore log files
logs/
*.log

# Ignore OS-specific system files
.DS_Store
Thumbs.db

# Ignore sensitive environment variables
.env

# ignore config
*.json